#sticky-footer {
    flex-shrink: none;
    height: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 8pt;
    color: white !important;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}
