.portfolioList {
    list-style-type:none;
    padding-inline-start: 0px;
}

.portfolioCard {
    background-color: lightgrey;
    border-radius: 5px;
    margin: 10px;
    align-items: center;
}

.imgSize {
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 200px;
}
